<div class="login_inscription">
  <div class="inscription-box">
    <form [formGroup]="formInscription" (ngSubmit)="create_inscription()">
      <h2 class="titre_inscription">Inscription</h2>
      <div class="inscription">
        <div>
          <div class="input_box">

            <input type="nom" class="form-control" formControlName="nom">
            <label>Nom</label>
            <span *ngIf="VerificationNom">
              {{VerificationNom}}
            </span>
          </div>
          <div class="input_box">
            <span class="icons"></span>
            <input type="nom" class="form-control" formControlName="prenom">
            <label>Prénoms</label>
          </div>
          <div class="input_box">
            <input type="nom" class="form-control" formControlName="adresse">
            <label>Addresse</label>
          </div>
          <div class="input_box">

            <input type="nom" class="form-control" formControlName="telephone" (keypress)="onKeyPress($event)">
            <label>Teléphone</label>
            <span *ngIf="formInscription.controls['telephone'].errors && formInscription.controls['telephone'].touched">
              10 chiffres
            </span>
            <span *ngIf="validationTelephone">
              {{validationTelephone}}
            </span>
          </div>
        </div>
        <div>
          <div class="input_box">

            <input type="nom" class="form-control" formControlName="email">
            <label>Email</label>
            <span *ngIf="formInscription.controls['email'].errors && formInscription.controls['email'].touched">
              email Invalid
            </span>
            <span *ngIf="Verificationemail">
              {{Verificationemail}}
            </span>
          </div>
          <div class="input_box">

            <input type="password" class="form-control" formControlName="password">
            <label>Mot de passe</label>
            <span *ngIf="formInscription.controls['password'].errors && formInscription.controls['password'].touched">
              8 à 20 caractères
            </span>
          </div>
          <div class="input_box">

            <input type="password" class="form-control" formControlName="password1">
            <label>Confirmer mot de passe
            </label>
            <span *ngIf="formInscription.controls['password1'].errors && formInscription.controls['password1'].touched">
              8 à 20 caractères
            </span>
            <span *ngIf="verificationMot_de_passe">
              {{verificationMot_de_passe}}
            </span>
          </div>
          <div class="button_confirm">

            <button [disabled]="formInscription.invalid">Confirmer</button>
          </div>

        </div>
      </div>
    </form>

  </div>

</div>