<div class="navbar__containair">
    <header>
        <div class="header__mon__app">
            <span>APP</span>
        </div>
        <div class="header__profile">
            <img [src]="urlImage" alt="">
            <span>{{authService.nom}}</span>
        </div>
    </header>
    <div class="nav__items">
        <a class="item" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i
                class="bi bi-house"></i><span>Dasboard</span></a>
        <a class="item" routerLink="/admin/module" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i
                class="bi bi-file-check"></i><span>Module</span></a>
        <a class="item" routerLink="/admin/create_module" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"><i class="bi bi-file-diff"></i><span>Creer Module</span></a>
        <a class="item" routerLink="/admin/validation" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"><i class="bi bi-patch-check"></i><span>Examen</span></a>
        <a class="item" routerLink="/admin/utilisateur" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"><i class="bi bi-person-lines-fill"></i><span>Utilisateur</span></a>
        <a class="item" routerLink="/admin/certifier" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"> <i class="bi bi-bookmark-check"></i><span>Certifier</span></a>

    </div>
</div>