<div class="module__contenair__client">
    <header>
        <div class="header__title">
            <span class="title1">Cours videos</span>
        </div>
        <div class="header__paragraphe">
            <span class="paragraphe">Cours videos</span>
        </div>
    </header>
    <!--_____videos ___-->
    <div class="videos">
        <div class="videos__title">
            <label for="">Videos Cours</label>
            <div class="div__border__botton">
            </div>
        </div>
        <div class="liste__videos">
            <div class="videos" *ngFor="let item of isVideos">
                <vg-player>
                    <video (click)="voirVideo(item.id!,item.extension!)" #myVideo
                        (mouseenter)="playVideo(item.id!,item.extension!)" (mouseleave)="stopVideo()" muted
                        [autoplay]="false">
                        <source [src]="urlStreaming + item.id+item.extension">
                    </video>
                </vg-player>
                <div class="info__video">
                    <span class="">{{item.fileName}}</span>
                </div>
            </div>

        </div>
    </div>

    <!--_____audio__document ___-->
    <div class="audio__document">
        <div *ngIf="idModal" class="form__rendre">
            <form [formGroup]="formFileRendre" (ngSubmit)="rendreDoc()">
                <div class="title">
                    <span>Rendre fichier examen</span>
                </div>
                <div class="form-group">
                    <label for="">File:</label>
                    <input type="file" (change)="onSelectFile($event)" accept=".docx,doc" class="form-control"
                        formControlName="file">
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-sm btn-primary">Enregistrer</button>
                    <button (click)="annuller()" class="btn btn-sm btn-danger">Annuller</button>
                </div>
            </form>
        </div>
        <div class="__audio">
            <div class="audio__title">
                <label for="">Fichier audio</label>
                <div class="div__border__botton">
                </div>
            </div>
            <div class="contenu__audio">
                <audio *ngFor="let item of isAudio" controls>
                    <source [src]="urlStreaming + item.id + item.extension">
                </audio>
            </div>
        </div>

        <!--_______document ___-->
        <div class="__doc">
            <div class="doc__title">
                <label for="">Fichier doc</label>
                <div class="div__border__botton">
                </div>
            </div>
            <div class="contenu__doc">
                <div class="is__nav" *ngFor="let item of isDocument">
                    <a (click)="telechargerDoc(item.id!,item.fileByModule!.fileName!)"><span>{{item.fileByModule!.fileName!}}</span>
                    </a>
                    <div class="button">
                        <button (click)="openModalRendre(item.id!)" *ngIf="item.status ==0"
                            class="btn btn-sm btn-secondary">Rendre</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="listCorrections && listCorrections.length > 0 " class="correction">
        <div class="correcion__title">
            <label for="">Correction</label>
            <div class="div__border__botton">
            </div>
        </div>
        <div class="list">
            <div *ngFor="let item of listCorrections">
                <a (click)="telechargeCorrection(item.id!,item.fileName!)">
                    <span class="isLink">{{item.fileName}}</span>
                    <span class="isStatus">{{item.status}}</span>
                </a>
            </div>
        </div>
    </div>
</div>