.module__contenair__client {
    background: rgb(235, 230, 230);

    /*______________header_________*/
    header {
        background-image: url("./../../../assets/images/bg15.jpg");
        height: 68vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .header__title {
            span {
                color: white;
                font-size: 28px;
                font-weight: 800;
            }
        }

        .header__paragraphe {
            span {
                color: white;
                font-weight: bold;
            }
        }
    }

    /*______________videos_________*/
    .videos {
        margin-top: .4rem;
        margin-left: .6rem;
        padding-bottom: 1rem;

        .videos__title {


            label {
                font-weight: 700;
                font-size: 24px;
            }

            .div__border__botton {
                width: 60px;
                height: 10px;
                background-color: brown;
                border-radius: 0px 50% 50% 0px;
            }
        }

        .liste__videos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: .5rem;
            margin-bottom: 1rem;

            @media screen and(max-width:2000px) {
                grid-template-columns: repeat(4, 1fr);

            }

            @media screen and(max-width:1600px) {
                grid-template-columns: repeat(3, 1fr);

            }

            @media screen and(max-width:1000px) {
                grid-template-columns: repeat(2, 1fr);

            }

            @media screen and(max-width:450px) {
                grid-template-columns: repeat(1, 1fr);

            }

            .video {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                border: solid 1px whitesmoke;
                gap: .5rem;
                height: auto;
                background-color: white;

                @media screen and(max-width:450px) {
                    margin-right: 1rem;

                }

                video {
                    width: 100%;
                    cursor: pointer;
                    border-radius: 10px;
                    height: auto;
                }

                .info__video {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: .2rem;
                }
            }
        }
    }

    /*______________videos_________*/
    .audio__document {
        display: flex;
        margin-top: .4rem;
        margin-left: .6rem;
        position: relative;
        padding-bottom: 1rem;

        .form__rendre {
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            form {
                width: 50%;
                background-color: white;
                height: 30vh;
                box-shadow: 3px 3px 3px 3px gray;
                border-radius: 10px;

                .title {
                    border-bottom: solid 1px orange;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        font-size: 22px;
                        font-weight: 800;
                    }
                }

                .form-group {
                    margin: .7rem;
                }

                .button {
                    margin: .7rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    button {
                        flex: 1;
                    }
                }
            }
        }

        @media screen and(max-width:800px) {
            flex-direction: column;

            .__audio {}

            .__doc {
                margin-top: .7rem;
                display: flex;
            }
        }

        .__audio {
            flex: 1;

            .audio__title {
                label {
                    font-weight: 700;
                    font-size: 24px;
                }

                .div__border__botton {
                    width: 60px;
                    height: 10px;
                    background-color: brown;
                    border-radius: 0px 50% 50% 0px;
                }
            }

            .contenu__audio {
                margin-top: .5rem;
                display: flex;
                flex-direction: column;
                gap: .7rem;

                audio {
                    width: 300px;
                    height: 40px;
                }
            }

        }

        .__doc {
            flex: 1;

            @media screen and(max-width:800px) {
                height: auto;
                display: flex;
                flex-direction: column;
            }

            .doc__title {
                label {
                    font-weight: 700;
                    font-size: 24px;
                }

                .div__border__botton {
                    width: 60px;
                    height: 10px;
                    background-color: brown;
                    border-radius: 0px 50% 50% 0px;
                }

            }

            .contenu__doc {
                display: flex;
                flex-direction: column;
                gap: .7rem;
                width: 100%;

                .is__nav {
                    display: flex;
                    align-items: center;

                    a {
                        flex: 1;
                        text-decoration: none;

                        span {
                            color: blue;
                            cursor: pointer;
                            border-bottom: solid 1px blue;

                        }
                    }

                    .button {
                        flex: 1;
                        display: flex;
                        justify-content: start;

                        button {
                            width: 200px;
                        }

                    }
                }
            }

            button {
                margin-top: .7rem;

                @media screen and(max-width:800px) {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                }
            }
        }


    }

    .correction {
        padding-bottom: 1rem;
        margin-top: .4rem;
        margin-left: .6rem;

        .correcion__title {
            label {
                font-weight: 700;
                font-size: 24px;
            }

            .div__border__botton {
                width: 60px;
                height: 10px;
                background-color: brown;
                border-radius: 0px 50% 50% 0px;
            }
        }

        .list {
            a {
                width: 30%;
                display: flex;
                justify-content: space-between;

                .isLink {
                    color: blue;
                    cursor: pointer;
                    border-bottom: solid 1px blue;
                }

                .isStatus {
                    font-size: 20px;
                    color: seagreen;
                }
            }
        }

    }
}