<div class="container__header">
    <header>
        <div class="isContenu">
            <i class="bi bi-people"></i>
            <p>
                <span class="spanTitle">Client</span>
                <span class="spanChiffre">{{lengthClient}}</span>
            </p>
        </div>
        <div class="isContenu">
            <i style="color: brown;" class="bi bi-bookmarks"></i>
            <p>
                <span class="spanTitle">Module</span>
                <span class="spanChiffre">{{lengthModule}}</span>
            </p>

        </div>
        <div class="isContenu">
            <i style="color: aqua;" class="bi bi-bookmark-check"></i>
            <p>
                <span class="spanTitle">Certifier</span>
                <span class="spanChiffre">5</span>
            </p>
        </div>
    </header>
    <main>
        <div class="title">
            <span>Nouveau client</span>
            <a routerLink="/admin/utilisateur">Voir tous</a>
        </div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Payement</th>
                </tr>
            </thead>
            <tbody *ngIf="userList && userList.length > 0">
                <tr *ngFor="let item of userList ; let i=index">
                    <td>{{i + 1}}</td>
                    <td>{{item.nom}}</td>
                    <td>
                        <button class="btn btn-sm btn-success">Valider</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>