<div class="login_authentication">
	<div class="isPayement" *ngIf="isPayement">
		<p>Si vous souhaitez suivre votre cours, vous pouvez contacter le service client et effectuer le paiement des
			frais.</p>
		<div class="isContact_and_btn">
			<span>Telephone: 03420000000</span>
			<a style="color: seagreen; border-bottom: solid 1px seagreen; cursor: pointer;" (click)="isOk()">Ok</a>
		</div>
	</div>
	<div class="login-box">
		<form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
			<div class="login">
				<h2 class="titre">Login</h2>
				<div class="input_box">
					<span class="icon">
						<img src="./../../assets/images/email.png" width="25px" height="25px" alt="">
					</span>
					<input type="email" placeholder="Votre eamil" formControlName="email">
					<label for="">Email</label>
					<small *ngIf="formLogin.controls['email'].errors && formLogin.controls['email'].touched"
						class="text-danger">Email invalid(@)</small>
				</div>

				<div class="input_box">
					<span class="icon">
						<img src="./../../assets/images/pwd.png" width="25px" height="25px" alt="">
					</span>
					<input type="password" placeholder="votre password" formControlName="password">
					<label for="">Mot de passe</label>
					<small *ngIf="formLogin.controls['password'].errors && formLogin.controls['password'].touched"
						class="text-danger">8 à 20 mots</small>
				</div>
				<div class="button_confirm">
					<button [disabled]="!formLogin.valid" type="submit">Connexion</button>
				</div>
				<div class="register_new">
					<p>Avez-vous de compte ? [<a class="regist" href="/inscription">S'inscricre</a>]</p>
				</div>
			</div>
		</form>

	</div>
</div>