.details__container {
    margin: .5rem;

    header {
        margin-bottom: .5rem;
        width: 100%;

        .__module {
            display: flex;
            justify-content: space-between;

        }

        .__client {
            display: flex;
            gap: 1rem;
        }

    }

    main {
        position: relative;

        .examen__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: .5rem;

            .card {

                .card-header {}

                .card-body {
                    .status__invalide {}

                    .status__valide {
                        .span__status {}

                        .button__info {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: .5rem;
                            margin-top: .5rem;

                            button {
                                flex: 1;
                            }

                        }

                        .button__corriger {
                            margin-top: .5rem;

                            button {
                                width: 100%;
                            }
                        }


                    }
                }
            }

        }

        .list__correction {
            .isCorrectionTitle {
                span {
                    font-size: 20px;
                }
            }

            .isCorrection {
                display: flex;
                flex-direction: column;
                height: max-content;
                border: solid 1.5px gray;
                width: max-content;
                padding: .5rem;
                border-radius: 10px;
            }
        }



        /*___correction__examen__*/
        .correction__examen {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            z-index: 5;

            form {
                width: 70%;
                background-color: white;
                box-shadow: 3px 3px 3px 3px gainsboro;
                border-radius: 10px;

                .form-title {
                    padding-left: 1rem;
                    padding-top: 1rem;
                    padding-right: 1rem;
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid rgb(192, 180, 158);

                    span {
                        font-size: 22px;
                    }
                }

                .form-group {
                    padding: 1rem;
                }

                .button {
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    padding: 1rem;

                    button {
                        width: 70%;
                    }

                    a {
                        width: 70%;
                    }
                }
            }

        }

    }

}