<div class="container__module">
    <header>
        <div class="header__left">
            <select name="" id="" class="form-select" (change)="selectModule($event)">
                <option *ngFor="let item of modules" [value]="item.id">{{item.nom}}</option>
            </select>
        </div>
        <div class="header__rigth">
            <button class="btn btn-sm btn-success"></button>
        </div>
    </header>
    <main>
        <!--   __________videos______  -->
        <div class="__videos">
            <div class="__modal__modifier__videos" *ngIf="isModal">
                <form [formGroup]="formFile" (ngSubmit)="modifierFile()">
                    <div class="title">
                        <span>Modification fichier videos</span>
                    </div>
                    <div class="form-group">
                        <label for="">File</label>
                        <input type="file" formControlName="file" (change)="onSelectFile($event)" accept="video/mp4"
                            class="form-control">
                    </div>
                    <div class="button">
                        <button type="submit" class=" btn-sm btn btn-primary">Enregistrer</button>
                        <button (click)="annullerModifier()" class="btn-sm btn btn-danger">Annuller</button>
                    </div>
                </form>
            </div>
            <div class="videos__header">
                <span>Liste videos</span>
                <div class="border__botton"></div>
            </div>
            <div class="liste__videos">
                <div class="video" *ngFor="let item of isVideos">
                    <vg-player class="vg-player">
                        <video [autoplay]="false" controls>
                            <source [src]="urlStreaming + item.id+item.extension">
                        </video>
                    </vg-player>
                    <div class="info__video">
                        <span>{{item.fileName}}</span>
                        <button [disabled]="isDisable" (click)="openModalModifierVideos(item.id!)"
                            class="btn btn-success btn-sm">Modifier</button>
                    </div>
                </div>
            </div>
        </div>

        <!--   __________audio___doc______  -->
        <div class="audio__doc">
            <!--   __________modal__modif audio_________  -->
            <div class="__modal__audio" *ngIf="isModalAudio">
                <form [formGroup]="formFileAudio" (ngSubmit)="modifierFileAudio()">
                    <div class="title">
                        <span>Modification fichier audio</span>
                    </div>
                    <div class="form-group">
                        <label for="">File:</label>
                        <input type="file" (change)="onSelectFileAudio($event)" accept="audio/*" class="form-control"
                            formControlName="fileAudio">
                    </div>
                    <div class="button">
                        <button type="submit" class="btn btn-sm btn-primary">Enregistrer</button>
                        <button (click)="annullerModificationAudio()" class="btn btn-sm btn-danger">Annuller</button>
                    </div>
                </form>
            </div>

            <!--   __________audio_________  -->
            <div class="__audio">
                <div class="header__audio">
                    <span>Fichier audio</span>
                    <div class="border__audio"></div>
                </div>

                <div class="contenu__audio">
                    <div class="audio1" *ngFor="let item of isAudio">
                        <audio controls>
                            <source [src]="urlStreaming + item.id + item.extension">
                        </audio>
                        <button [disabled]="isDisable" (click)="openModalAudio(item.id!)"
                            class="btn btn-sm btn-success">Modifier</button>
                    </div>
                </div>
            </div>

            <!--   _____________doc______  -->
            <div class="__doc">
                <div class="header__doc">
                    <span>Fichier doc</span>
                    <div class="border__doc"></div>
                </div>
                <div class="contenu__doc">
                    <a *ngFor="let item of isDocx"
                        (click)="telechargerDoc(item.id!,item.fileName!)">{{item.fileName}}</a>
                </div>
            </div>
        </div>
    </main>
















    <form *ngIf="isModalModule" [formGroup]="formModule" (ngSubmit)="handleModule()">
        <div class="form-group">
            <label for="">Code</label>
            <input type="number" placeholder="Votre eamil" formControlName="code">
        </div>
        <div class="form-group">
            <label for="">Nom</label>
            <input type="text" placeholder="votre password" formControlName="nom">
            <small *ngIf="formModule.controls['nom'].errors && formModule.controls['nom'].touched"
                class="text-danger">Email non valide(obligatoire @)</small>
        </div>
        <div class="form-group">
            <button [disabled]="!formModule.valid" type="submit">Enregister</button>
        </div>
    </form>
</div>