.container__module {
    margin: .8rem;
    min-height: 100vh;
    height: 100%;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main {
        min-height: 100vh;
        margin-top: .5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        /**________________videos_____________*/
        .__videos {
            position: relative;
            margin-bottom: 2rem;
            height: max-content;

            .__modal__modifier__videos {
                position: absolute;
                z-index: 20;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                form {
                    width: 50%;
                    background-color: white;
                    height: 45vh;
                    box-shadow: 3px 3px 3px 3px gray;
                    border-radius: 10px;

                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 1rem;
                        border-bottom: solid 1px orange;

                        span {
                            font-weight: 900;
                            font-size: 22px;
                        }
                    }

                    .form-group {
                        margin: .7rem;
                    }

                    .button {
                        margin: .7rem;
                        display: flex;
                        justify-content: space-around;
                        gap: 1rem;

                        button {
                            font-weight: bold;
                            flex: 1;
                        }
                    }
                }
            }

            .videos__header {
                span {
                    font-size: 22px;
                    font-weight: 600;
                }

                .border__botton {
                    width: 20px;
                    height: 6px;
                    background-color: brown;
                    border-radius: 10px
                }
            }

            .liste__videos {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
                margin-top: .6rem;
                height: 200px;
                margin-bottom: 3rem;

                @media screen and(max-width:1250px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media screen and(max-width:900px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media screen and(max-width:450px) {
                    grid-template-columns: repeat(1, 1fr);
                }


                .video {
                    border: solid 1px wheat;
                    margin-right: .5rem;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;

                    .vg-player {
                        flex: 1;
                        border-radius: 10px;

                        .video {
                            width: 100%;
                        }
                    }

                    .info__video {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                    }

                }
            }

        }

        /**________________audio__doc_____________*/
        .audio__doc {
            margin-top: auto;
            display: flex;
            position: relative;
            position: relative;
            margin-top: 2rem;
            height: max-content;

            @media screen and(max-width:1200px) {
                flex-direction: column;
            }

            .__modal__audio {
                position: absolute;
                z-index: 20;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                form {
                    width: 50%;
                    background-color: white;
                    height: 30vh;
                    box-shadow: 3px 3px 3px 3px gray;
                    border-radius: 10px;

                    .title {
                        border-bottom: solid 1px orange;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            font-size: 22px;
                            font-weight: 800;
                        }
                    }

                    .form-group {
                        margin: .7rem;
                    }

                    .button {
                        margin: .7rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        button {
                            flex: 1;
                        }
                    }
                }
            }

            .__audio {
                flex: 1;
                margin-top: 10rem;

                .header__audio {
                    span {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .border__audio {
                        width: 20px;
                        height: 6px;
                        background-color: brown;
                        border-radius: 10px
                    }

                }



                .contenu__audio {
                    margin-top: .5rem;


                    .audio1 {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-bottom: .7rem;

                        audio {
                            height: 30px;
                            width: 200px;
                        }

                        button {
                            display: flex;
                            justify-content: end;
                        }

                    }


                }
            }

            .__doc {
                flex: 1;
                margin-top: 10rem;

                @media screen and(max-width:1200px) {
                    margin-top: 2rem;
                }

                .header__doc {
                    span {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .border__doc {
                        width: 20px;
                        height: 6px;
                        background-color: brown;
                        border-radius: 10px
                    }

                }

                .contenu__doc {
                    display: flex;
                    align-items: start;
                    gap: 1rem;
                    flex-direction: column;

                    a {
                        cursor: pointer;
                        color: blue;
                        border-bottom: solid 1px blue;
                    }
                }
            }
        }
    }

}