<div class="navbar__containair">
    <div class="navbar__left">
        <a routerLink="/client"><span>C<span class="isDebut">o</span>urs</span></a>
        <div class="nav__items">
            <a *ngFor="let item of modules" (click)="moduleSuivant(item.code!)">{{item.nom}}</a>
        </div>
    </div>
    <div class="navbar__rigth">
        <a (click)="openModal()" class="nav__like">
            <div class="images">
                <div></div>
                <img [src]="urlImage" alt="">
            </div>
            <div class="__modal">
                <a routerLink="/client/profile">Profile</a>
                <a (click)="logaout()">Deconnection</a>
            </div>
        </a>
    </div>
</div>