<div class="utilisateur__containair">
    <header>
        <div class="isSpanTitle">
            <span class="title">List Utilisateur</span>
            <div class="div__border__botton"></div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="isChecked" (change)="onCheckBoxChangeTous()">
                Tous
            </label>
            <label>
                <input type="checkbox" [(ngModel)]="isCheckedPayer" (change)="onCheckBoxChangeTous()">
                Payer
            </label>
            <label>
                <input type="checkbox" [(ngModel)]="isCheckedNoPayer" (change)="onCheckBoxChangeTous()">
                NoPayer
            </label>
        </div>
        <div class="input_rech_btn_nouveau">
            <input type="text" (keyup)="getKeyUpUtilisateur($event)" class="form-control"
                placeholder="Recherche par nom ex:arosaina">
            <button class="btn btn-sm btn-success">Nouveau</button>

        </div>
    </header>
    <main>
        <table class="table table-group-divider">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Payement</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of userList | paginate:{itemsPerPage:9,currentPage:page,totalItems:totalPageItems}, let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.nom}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.telephone}}</td>
                    <td>{{item.role | lowercase}}</td>
                    <td *ngIf="item.status==0">Bloquer</td>
                    <td *ngIf="item.status==1">En cours</td>
                    <td *ngIf="item.role=='CLIENT'">
                        <span class="text-success" *ngIf="item.payer==1"><i class="bi bi-check2"
                                style="font-size: 20px; font-weight: bold;"></i></span>
                        <button class="btn btn-success btn-sm" (click)="isPayement(item.id!)"
                            *ngIf="item.payer==0">Activer</button>
                    </td>
                    <td *ngIf="item.role=='ADMIN'">_</td>
                    <td *ngIf="item.role=='CLIENT'" class="button">
                        <button *ngIf="item.status==0" (click)=" modifierStatusUser(item.id!)"
                            class="btn btn-sm btn-success">Activer</button>
                        <button *ngIf="item.status==1" (click)=" modifierStatusUser(item.id!)"
                            class="btn btn-sm btn-danger">Desactiver</button>
                        <button class="btn btn-sm btn-danger" (click)="supprimer(item.id!)">Supprimer</button>
                    </td>
                    <td *ngIf="item.role=='ADMIN'">
                        -
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="userList && userList.length > 9" class="pagination">
            <pagination-controls (pageChange)="page=$event" [autoHide]="true" [responsive]="true"
                previousLabel="Precendent" nextLabel="Suivant"></pagination-controls>
        </div>
    </main>
</div>