.utilisateur__containair {
    margin: 1rem;

    header {
        margin-bottom: 1rem;

        .isSpanTitle {
            span {
                font-size: 24px;
            }

            .div__border__botton {
                width: 80px;
                height: 4px;
                background-color: gray;
                border-radius: 0px 50% 50% 0px;
            }
        }

        .checkbox {
            width: 40%;
            display: flex;
            gap: .5rem;

        }

        .input_rech_btn_nouveau {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}