.examen__container {
    margin: 1rem;

    header {
        margin-bottom: .5rem;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .select {
            flex: 1;
        }

        .__size {}
    }

    main {}
}