<div class="profile__containair">
    <div class="__header">
        <div class="__image">
            <div class="img">
                <img *ngIf="!urlImage" src="./../../../assets/images/bg14.jpg" alt="Image">
                <img [src]="urlImage" alt="Image">
            </div>
            <div class="btn__modifier">
                <button (click)="openForm()" class="btn btn-sm btn-success">Modifier</button>
            </div>
            <form *ngIf="isForm" [formGroup]="formFile" (ngSubmit)="handleImage()">
                <div class="header__title">
                    <span>Modification photo de profil</span>
                </div>
                <div class="form-group">
                    <label for="">Image:</label>
                    <input type="file" (change)="onSelectFile($event)" class="form-control" formControlName="isFile"
                        accept="image/*">
                </div>
                <div class="btn">
                    <button type="submit" class="btn btn-sm btn-success">Upload</button>
                    <a (click)="fermForm()" class="btn btn-sm btn-danger">Annuller</a>
                </div>
            </form>
        </div>
        <div class="__info">
            <div class="__nom">
                <p>Nom: <span>{{authService.nom}}</span></p>
                <button class="btn btn-sm btn-success">Modifier</button>
            </div>
            <div class="__prenom">
                <p>Prenom: <span>{{authService.user.prenom}}</span></p>
                <button class="btn btn-sm btn-success">Modifier</button>
            </div>
            <div class="__email">
                <p>Email: <span>{{authService.user.email}}</span></p>
                <button class="btn btn-sm btn-success">Modifier</button>
            </div>
        </div>
    </div>
    <div class="__motDepass">
        <form [formGroup]="formUpdate" (ngSubmit)="handleUpdatePassWord()">
            <div class="form-group header">
                <span>Modification mot depasse</span>
            </div>
            <div class="form-group">
                <label for="label">Mot depasse actuel:</label>
                <input type="password" class="form-control" placeholder="Mot depasse actuel"
                    formControlName="motDepasseActuel">
                <small
                    *ngIf="formUpdate.controls['motDepasseActuel'].errors && formUpdate.controls['motDepasseActuel'].touched"
                    class="text-danger">Taille au mois 8 character</small>
                <small *ngIf="isMotdepass" class="text-danger">{{isMotdepass}}</small>
            </div>
            <div class="form-group">
                <label for="label">Nouveau mot depasse:</label>
                <input type="password" class="form-control" placeholder="Nouveau mot depasse"
                    formControlName="nouveauMotDepasse">
                <small
                    *ngIf="formUpdate.controls['nouveauMotDepasse'].errors && formUpdate.controls['nouveauMotDepasse'].touched"
                    class="text-danger">Taille au mois 8 character</small>
            </div>
            <div class="form-group">
                <label for="label">Confirmer mot depasse:</label>
                <input type="password" class="form-control" placeholder="Confirmer depasse"
                    formControlName="confirmeMotDepasse">
                <small
                    *ngIf="formUpdate.controls['confirmeMotDepasse'].errors && formUpdate.controls['confirmeMotDepasse'].touched"
                    class="text-danger">Taille au mois 8 character</small>
                <small class="text-danger" *ngIf="isMsgConfirme">{{isMsgConfirme}}</small>
            </div>
            <div class="form-group button">
                <button [disabled]="formUpdate.invalid" class="btn btn-sm btn-primary">Enregistrer</button>
                <a (click)="annullerUpdatePassword()" class="btn btn-sm btn-danger">Annuller</a>
            </div>
        </form>
    </div>

</div>