<div class="sider__containair">
    <div class="sider__left">
        <div class="menu">
            <div class="__mon__App">
                <span>APP</span>
            </div>
            <i (click)="openNav()" class="bi bi-list icon"></i>
        </div>

        <div *ngIf="isNav" class="nav__bar">
            <a (click)="fermeNav()" routerLink="/admin"><i class="bi bi-house"></i><span>Dasboard</span></a>
            <a (click)="fermeNav()" routerLink="/admin/module"><i class="bi bi-house"></i><span>Module</span></a>
            <a (click)="fermeNav()" routerLink="/admin/create_module"><i class="bi bi-house"></i><span>Creer
                    Module</span></a>
            <a (click)="fermeNav()" routerLink="/admin/validation"><i
                    class="bi bi-box-arrow-right"></i><span>Examen</span></a>
        </div>
    </div>
    <div class="sider__rigth">
        <i routerLink="/admin/profile" class="bi bi-person-circle"></i><span></span>
        <i title="deconnexion" class="bi bi-box-arrow-right" (click)="logaoutAdmin()"></i>
    </div>
</div>