.voir_videos_container {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 1.5rem;

    .__left {
        flex: 1;

        .vg-player {
            height: 70vh;
            background: transparent;
            width: 100%;
            display: flex;

            video {
                flex: 1; // Définissez la hauteur à 100% pour remplir le conteneur parent
            }
        }


    }

    .__rigth {
        flex: 0.35;
        display: flex;
        gap: .3rem;
        justify-content: space-between;
        flex-direction: column;
        overflow-y: auto;

        .isTitle {
            font-weight: 700;
            color: gray;
            font-size: 20px;
        }

        .vg-player {
            height: 200px;
            background-color: transparent;

            video {
                cursor: pointer;
                height: auto;
            }
        }

    }

}